@font-face {
	src: url('https://res.cloudinary.com/losrodriguez/raw/upload/v1670565861/Hubot-Sans_xy9zmr.woff2');
	font-family:'Hubot Sans';
	font-style: normal;
}
html {
	height:100%;
}
body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #000;
	color: #FFF;
	display: flex;
	justify-content: center;
	height: 100%;
	align-items: center;
	font-family: 'Hubot Sans', sans-serif;
	user-select: none;
}

main {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
}

a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    font-weight: 500;
}

canvas {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

h1.dodge-title {
	-webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    color: transparent;
    font-size: 15vw;
    mix-blend-mode: color-dodge;
}

button {
	background-color: black;
    border: 1px solid currentColor;
    outline: none;
    color: white;
    text-transform: uppercase;
    padding: 0.5em 2em;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
	cursor: pointer;
}

button:hover,
button:focus {
	background-color: #fff;
	color: #000;
}